(
    bgm_loop_time: 7.381,
    sfx_volumes: SfxVolumes(
        pistol: 0.4,
        raygun: 1.0,
        shotgun: 0.5,
        smg: 0.7,
        boomerang: 1.0,
        grenade: 1.0,
        grenade_explosion: 1.0,
    ),
)
